* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.signupmain {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid crimson;
    padding: 10px;
}

.cnt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.gender {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.signup-btn {
    width: 150px;
    text-align: center;
    margin: 0 auto;
    background-color: red;
    outline: none;
    border: none;
    padding: 10px 7px;
    cursor: pointer;
}

.cnt input {
    padding: 8px 5px;
}

.login{
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
}
.insideclass{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 6px;   
}

.cnt1{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}